@model CanalVideos
@{
    ViewData["Canales"] = "Canales registrados";
}

<div class="text-center">
    <h1 class="display-4">Bienvenidos</h1>

    <table>

        <tr>
            <td><b>Numero de canal:</b>            @Model.IDA                  </td>
            <td><b>Nick del usuario:</b>           @Model.Nick_userA           </td>
            <td><b>Lista de reproduccion:</b>      @Model.Lista_RepA           </td>
            <td><b>Categoria de video 1:</b>       @Model.CategoriaVid_1A      </td>
            <td><b>Categoria de video 2:</b>       @Model.CategoriaVid_2A      </td>
            <td><b>Categoria de video 3:</b>       @Model.CategoriaVid_3A      </td>
            <td><b>Video mas visto:</b>            @Model.Mas_vistoA           </td>
            <td><b>Descripcion del canal:</b>      @Model.Descripcion_canalA   </td>
            <td><b>Fecha de creación:</b>          @Model.Fecha_creacionA      </td>
        </tr>
        </table>

    <br/>
    <table>

        <tr>
            <td><b>Numero de canal:</b>            @Model.IDB                  </td>
            <td><b>Nick del usuario:</b>           @Model.Nick_userB           </td>
            <td><b>Lista de reproduccion:</b>      @Model.Lista_RepB           </td>
            <td><b>Categoria de video 1:</b>       @Model.CategoriaVid_1B      </td>
            <td><b>Categoria de video 2:</b>       @Model.CategoriaVid_2B      </td>
            <td><b>Categoria de video 3:</b>       @Model.CategoriaVid_2C      </td>
            <td><b>Video mas visto: </b>           @Model.Mas_vistoB           </td>
            <td><b>Descripcion del canal:</b>      @Model.Descripcion_canalB   </td>
            <td><b>Fecha de creacion:</b>          @Model.Fecha_creacionB      </td>
        </tr>
        </table>

    <br />
    <table>

        <tr>
            <td><b>Numero de canal:</b>            @Model.IDC                  </td>
            <td><b>Nick del usuario:</b>           @Model.Nick_userC           </td>
            <td><b>Lista de reproduccion:</b>      @Model.Lista_RepC           </td>
            <td><b>Categoria de video 1:</b>       @Model.CategoriaVid_1C      </td>
            <td><b>Categoria de video 2:</b>       @Model.CategoriaVid_2C      </td>
            <td><b>Categoria de video 3:</b>       @Model.CategoriaVid_3C      </td>
            <td><b>Video mas visto:</b>            @Model.Mas_vistoC           </td>
            <td><b>Descripcion del canal</b>       @Model.Descripcion_canalC|  </td>
            <td><b>Fecha de creación:</b>          @Model.Fecha_creacionC      </td>
        </tr>
    </table>
    
</div>
